<ng-container
  *ngIf="mealState$ | async as mealState"
  [ngSwitch]="mealState.dataState"
>
  <ng-container *ngSwitchCase="DataState.LOADING_STATE">
    <nxm-show-loading></nxm-show-loading>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.ERROR_STATE">
    <nxm-show-error [error]="mealState.error"></nxm-show-error>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.LOADED_STATE">
    <nxm-meals-list [meals]="mealState.data?.meals"></nxm-meals-list>
    <nxm-meals-details></nxm-meals-details>
  </ng-container>
</ng-container>
