.base {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;
}

.box {
  display: flex;
  align-items: center;
}

header {
  margin-bottom: 1rem;
  font-weight: bold;
  background-color: #191919;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
}

footer {
  margin-top: 1rem;
  border-top: lightgray;
  border-top-style: dashed;
  border-top-width: 1px;
}


.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}
