:root {
  --font-base: "Syne", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --metric-rhythm: 1.5rem;
  --primary-color: #33406F;
  --secondary-color: orangered;
  --dark-color: #191919;
  --light-color: #f2f2f2;
  --light-color-shade: #e5e5e5;
}

body {
  font-family: var(--font-base),

}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1ch;
  justify-content: center;
}

.center > *:only-child {
  margin: auto;
}
