html {
  font-family: "Syne", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1ch;
  justify-content: center;
}
